body {
	display: flex;
	align-items: center;
	justify-content: center;
}

#container {

}

#scores {
	border: 1px solid black;
}

th {
    font-weight: bold;
    border: 1px solid black;
}

td {
	border: 1px solid black;
}
